<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      {{ title | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="post ion-padding">

  <div class="spinner" *ngIf="!post">
    <ion-spinner> </ion-spinner>
  </div>

  <div *ngIf="post">

    <h4 *ngIf="!noTitle">{{ post.title.rendered }}</h4>

    <div class="content" [innerHtml]="post.content.rendered"></div>

  </div>

</ion-content>

<ion-footer *ngIf="productId">
  <ion-toolbar>
    <ion-button expand="block" (click)="infaqNow(productId)">Infaq Now</ion-button>
  </ion-toolbar>
</ion-footer>