.details {
    ion-card {
        box-shadow: none;
    }

    h2 {
        margin: 20px 0 10px 16px;
        font-size: 18px;
    }

    h3 {
        font-size: 15px;
        margin: 5px 16px 8px 16px;
        //color: #222;
        line-height: 1.6;
    }

    p {
        line-height: 1.6;
        text-indent: 0px;
        font-size: 14px;
        text-align: justify;
        margin: 14px 16px 16px;
        font-weight: 500;
    }

    ion-img {
        height: auto;
    }
}