.info-panel {
    padding: 4vw 2vw;
    padding-bottom: 0;
}

.info-day {
    margin: 0;
    text-align: right;
    font-size: 4.2vw;
    text-transform: uppercase;
    color: #f1f3a4;
}

.info-location {
    margin: 0;
    font-size: 3.5vw;
    text-transform: capitalize;
    text-align: right;
}

.info-date {
    margin: 0;
    text-align: right;
    font-size: 3.5vw;
}

.info-date-hijri {
    margin: 0;
    text-align: right;
    font-size: 3vw;
}

.info-panel-prayer {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 17vw;
    height: 17vw;
}

.info-prayer1 {
    margin: 0.2vw 0 0 0;
    font-size: 4.2vw;
    text-align: right;
    color: #f1f3a4;
}

.info-prayer2 {
    margin: 0;
    font-size: 6vw;
}

.info-prayer3 {
    margin: 0.8vw 0 0 0;
    font-size: 3.5vw;
    text-align: right;
    color: #ffffff;

    span {
        font-size: 3vw;
    }
}

.info-mosque-wrapper {
    text-align: right;
}

.info-mosque {
    width: 5vw;
    padding-top: 0.2vw;
}

.username-text {
    padding: 4px 10px;
    font-size: 1.1rem;
    color: #FFD700;
}