<ion-grid class="info-panel">
  <ion-row>
    <ion-col size="6" style="padding: 0;">
      <img src="/assets/slogan-front2.png" style="max-width: 120%;" />
    </ion-col>
    <ion-col size="6" class="info-wrapper">
      <h2 class="info-day">{{ today | translate }}</h2>
      <h5 class="info-date">{{ date }}</h5>
      <h5 class="info-date-hijri">{{ dateHijri }}</h5>

      <div *ngIf="prayerTime.currentPrayerTime" (click)="selectZone()">
        <h5 class="info-prayer1 ion-text-capitalize">
          <img class="info-mosque" src="/assets/icon/mosque.png">
          {{ "next prayer" | translate }}
        </h5>
        <h6 class="info-location" *ngIf="settings.settings?.selected_zone">
          {{ this.settings.settings.selected_zone.display_name }}
        </h6>
        <h5 class="info-prayer3">
          {{ prayerTime.currentPrayerTime.text }}
          {{ prayerTime.time }}<span>{{ prayerTime.ampm }}</span>
        </h5>
      </div>

      <div *ngIf="!prayerTime.currentPrayerTime" (click)="selectZone()">
        <h5 style="margin: 5vw 0 0 2vw; font-size: 3.5vw; text-align: right;" class="ion-text-capfirst">
          {{ "click to set prayer time" | translate }}</h5>
      </div>

    </ion-col>
  </ion-row>
</ion-grid>

<!-- <ion-grid class="info-panel-prayer" #solatBar id="solatBar" *ngIf="!prayerTime.currentPrayerTime"
  (click)="selectZone()">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-row>
        <ion-col size="3" class="info-mosque-wrapper">
          <img class="info-mosque" src="/assets/icon/mosque.png">
        </ion-col>
        <ion-col size="7">
          <h5 class="info-prayer1"></h5>
          <h5 style="margin: 5vw 0 0 2vw;" class="ion-text-capfirst">{{ "click to set prayer time" | translate }}</h5>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="info-panel-prayer" #solatBar id="solatBar" *ngIf="prayerTime.currentPrayerTime" (click)="selectZone()">
  <ion-row>
    <ion-col size="6" class="ion-no-padding">
      <ion-row>
        <ion-col size="5" class="info-mosque-wrapper">
          <img class="info-mosque" src="/assets/icon/mosque.png">
        </ion-col>
        <ion-col size="7">
          <h5 class="info-prayer1 ion-text-capitalize">{{ "next prayer" | translate }}</h5>
          <h5 class="info-prayer2">{{ prayerTime.currentPrayerTime.text }}</h5>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="6" class="ion-no-padding info-time">
      <h5 class="info-prayer3">{{ prayerTime.time }}<span>{{ prayerTime.ampm }}</span></h5>
    </ion-col>
  </ion-row>
</ion-grid> -->