<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ "Alquran" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar placeholder="Search" mode="ios" (ionInput)="filterList($event)"></ion-searchbar>

  <ion-list lines="full" mode="ios">
    <ion-item class="surah-last-read" (click)="lastReadPosition()">
      <ion-icon name="bookmark-outline" style="margin-right: 10px;"></ion-icon>
      <ion-label>Last read position</ion-label>
    </ion-item>
    <ion-item *ngIf="!loaded" class="surah-item">
      <ion-row style="width: 100%;">
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-col>
        <ion-col class="ion-text-start">
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="surah-item ion-no-padding" *ngFor="let alquran of alquranListFilter" (click)="viewSurahPage(alquran)">
      <ion-row style="width: 100%;">
        <ion-col class="ion-text-start surah-wrapper">
          <div class="surah-position">{{ alquran.position }}.</div> 
          <div class="surah-name">{{ alquran.name }}</div>
        </ion-col>
        <ion-col class="ion-text-end surah-name-arabic">
          {{ alquran.name_arabic }}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>