#container {
    padding: 30px;
}

.compass {
    margin-top: 25%;
    width: 100%;
    // -webkit-transition: all 0.3s linear;
    // -moz-transition: all 0.3s ease;
    // -o-transition: all 0.3s ease;
    // -ms-transition: all 0.3s ease;
    // transition: all 0.3s ease;
}

.background {
    // --background: url('/assets/image/background-qibla.jpg') 0 0/100% 100% no-repeat;
}

.surah-item{
    ion-row{
        padding: 12px 0;
    }
}

.surah-last-read{

    ion-label{
        margin: 18px 0;
    }

}

.surah-wrapper{
    display: flex;
    flex-wrap: nowrap;

    .surah-position{
        width: 50px;
        text-align: right;
        margin-right: 10px;
    }

    .surah-name{
        width: 100%;
    }
}

.surah-name-arabic{
    // font-size: 1.5rem;
}