<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="month">
      {{ "Prayer Time" | translate }}: {{ month.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list mode="ios" *ngIf="prayerTimes">

    <ion-list-header>
      <ion-label class="ion-text-capitalize" *ngIf="this.settings.settings.selected_zone">
        {{ "zone" | translate }}: {{ this.settings.settings.selected_zone.display_name }}
      </ion-label>
    </ion-list-header>

    <ion-item-group *ngIf="prayerTimes">

      <div *ngFor="let prayer of prayerTimes">

        <ion-item-divider>
          <ion-label>{{ prayer.date }}</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label class="ion-text-capitalize">{{ "subuh" | translate }}</ion-label>
          <ion-note slot="end" color="primary">{{ prayer.fajr.toDate() | date:"hh:mm a" }}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-capitalize">{{ "zohor" | translate }}</ion-label>
          <ion-note slot="end" color="primary">{{ prayer.dhuhr.toDate() | date:"hh:mm a" }}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-capitalize">{{ "asar" | translate }}</ion-label>
          <ion-note slot="end" color="primary">{{ prayer.asr.toDate() | date:"hh:mm a" }}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-capitalize">{{ "maghrib" | translate }}</ion-label>
          <ion-note slot="end" color="primary">{{ prayer.maghrib.toDate() | date:"hh:mm a" }}</ion-note>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-capitalize">{{ "isha" | translate }}</ion-label>
          <ion-note slot="end" color="primary">{{ prayer.isha.toDate() | date:"hh:mm a" }}</ion-note>
        </ion-item>

      </div>

    </ion-item-group>

  </ion-list>

</ion-content>