<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sync Solat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-button fill="solid" color="dark" expand="block" (click)="sync()" [disabled]="loading">Start Sync
  </ion-button>

  <div [innerHTML]="log">
  </div>

</ion-content>