<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ "Qibla" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background">

  <div id="container">
    <!-- <strong>DeviceOrientationCompassHeading</strong> -->
    <img src="assets/image/compas.png" class="compass" [ngStyle]="{'transform': 'rotate('+((qiblaLocation*-1))+'deg)'}">
    <br>
    <p class="ion-text-center">
      {{ !!currentLocation ? '' : 'Retrieving Current Location...' }}
      <!-- {{ qiblaLocation }} -->
    </p>
  </div>

</ion-content>