#container {
    padding: 30px;
}

.compass {
    margin-top: 25%;
    width: 100%;
    // -webkit-transition: all 0.3s linear;
    // -moz-transition: all 0.3s ease;
    // -o-transition: all 0.3s ease;
    // -ms-transition: all 0.3s ease;
    // transition: all 0.3s ease;
}

.background {
    // --background: url('/assets/image/background-qibla.jpg') 0 0/100% 100% no-repeat;
}