<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      Please Choose Zone
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="">

  <div class="spinner" *ngIf="!zoneLists">
    <ion-spinner> </ion-spinner>
  </div>

  <ion-list *ngIf="zoneLists">
    <ion-radio-group>
      <div *ngFor="let zone of zoneLists">

        <ion-list-header style="background-color: #ddd; font-weight: bold;">
          <ion-label class="ion-text-uppercase">
            {{ zone.name }}
          </ion-label>
        </ion-list-header>

        <ion-item *ngFor="let zoneData of zone.data">
          <ion-label style="white-space: normal;">{{ zoneData.zone }}</ion-label>
          <ion-radio [value]="zoneData.code" (click)="selectZone(zoneData)"></ion-radio>
        </ion-item>

      </div>

    </ion-radio-group>
  </ion-list>

</ion-content>

<ion-footer *ngIf="zoneLists">
  <ion-toolbar>
    <ion-button color="dark" expand="block" (click)="chooseZone()" [disabled]="!zone">Confirm</ion-button>
  </ion-toolbar>
</ion-footer>