<ion-header class="green-gradient" mode='md'>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ "Categories" | translate }}
    </ion-title>
  </ion-toolbar>
  <app-menubar [activeMenu]="infaq.id"></app-menubar>

</ion-header>

<ion-content class="categories ion-padding-top">

  <ion-item class="choosen-country ion-padding-horizontal ion-padding-top" lines="none">
    <ion-label *ngIf="country">
      <h2>{{ "Your Choosen Country" | translate }}</h2>
      <h3 class="ion-text-capitalize" *ngIf="!extraCountry">{{ country.name }}</h3>
      <h3 class="ion-text-capitalize" *ngIf="extraCountry">{{ extraCountry }}</h3>
    </ion-label>
    <ion-avatar slot="end" *ngIf="country">
      <img [src]="country.src">
    </ion-avatar>
  </ion-item>

  <div class="spinner" *ngIf="loader">
    <ion-spinner> </ion-spinner>
  </div>

  <ion-grid class="ion-padding-horizontal" *ngIf="!loader">
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories">
        <ion-card class="category-card ion-text-center ion-activatable ion-focusable hydrated" mode="ios"
          (click)="getProducts(category.id)">
          <img [src]="category.image_path">
          <ion-card-title>{{ category.name | translate }}</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>