.card-title {
    margin: 8px 15px 0 15px;
    text-transform: capitalize;
}

.horizontal-scroll {
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-card {
    display: inline-block;
    // margin: 15px;
    width: 38%;
    border-radius: 10px;

    ion-card-title {
        font-size: 12px;
    }

    ion-card-header {
        padding: 10px 12px;
    }
}

.icon-wrapper {
    height: 112px;
    overflow: hidden;
    text-align: center;
    padding: 20px;

    ion-icon {
        height: 100%;
        width: 100%;
        color: #333;
    }

    .spinner-wrapper {
        margin: auto;
        text-align: center;
        height: 100%;

        ion-spinner {
            top: 50%;
        }
    }
}

.img-wrapper {
    height: 112px;
    overflow: hidden;

    .spinner-wrapper {
        margin: auto;
        text-align: center;
        height: 100%;

        ion-spinner {
            top: 50%;
        }
    }
}