<h4 class="card-title">
  {{ title | translate }}
</h4>

<div class="horizontal-scroll" *ngIf="contents.length > 0" #widgetsContent (touchstart)="touchstart()"
  (touchend)="touchend()">

  <ion-card class="horizontal-card ion-activatable ion-focusable hydrated" *ngFor="let data of contents"
    (click)="navigate(data)" mode="ios">
    <div class="img-wrapper">
      <img [src]="data.media" />
    </div>
    <ion-card-header>
      <ion-card-title class="wrap-text">{{ data.title.rendered }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="allPage" class="horizontal-card ion-activatable ion-focusable hydrated" (click)="viewAll(allPage)"
    mode="ios">
    <div class="icon-wrapper">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
    </div>
    <ion-card-header>
      <ion-card-title class="wrap-text ion-text-capitalize">
        {{ "view all" | translate }} <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</div>

<div class="horizontal-scroll" *ngIf="contents.length <= 0">

  <ion-card class="horizontal-card ion-activatable ion-focusable hydrated" mode="ios">
    <div class="img-wrapper">
      <div class="spinner-wrapper">
        <ion-spinner name="lines"></ion-spinner>
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="wrap-text">
        <ion-spinner name="dots"></ion-spinner>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="horizontal-card ion-activatable ion-focusable hydrated" mode="ios">
    <div class="img-wrapper">
      <div class="spinner-wrapper">
        <ion-spinner name="lines"></ion-spinner>
      </div>
    </div>
    <ion-card-header>
      <ion-card-title class="wrap-text">
        <ion-spinner name="dots"></ion-spinner>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</div>