<ion-grid class="section-middle menu-wrapper">
  <ion-row>
    <ion-col size="3" *ngFor="let menu of menus">
      <ion-card class="button-card ion-text-center" (click)="navigate(menu.link)">
        <img [src]="menu.icon" class="img-medium">
        <ion-card-header>
          {{ menu.title }}
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>