.button-card {
  margin: 0;
  box-shadow: none;

  ion-card-header {
    font-size: 3vw;
    font-weight: bolder;
    padding: 8px 0 0 0;
    color: #000000;
  }

  img {
    padding: 0px 10px;
  }

  ion-col {
    padding: 0;
  }
}

.img-medium {
  width: 90%;
  margin: auto;
}

.menu-wrapper {
  padding: 14px;
  padding-top: 16px;
  padding-bottom: 10px;
}