<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Register" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <!-- Top header image. uncomment if not using background image in scss file -->
  <!--div class="login-logo">
    <img src="assets/image/login_logo2.jpg">
  </div-->

  <!-- Login Form 1 -->
  <div class="login1">

    <div class="form">

      <div class="logo-wrapper">
        <img src="assets/logo.png" class="logo">
      </div>

      <ion-list>
        <form [formGroup]="form">
          <ion-item>
            <ion-input required type="text" formControlName="first_name" placeholder="First Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" formControlName="last_name" placeholder="Last Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="text" formControlName="phone" placeholder="Phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="email" formControlName="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required type="password" formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
        </form>
      </ion-list>
      <ion-button color="dark" expand="block" fill="solid" [disabled]="!form.valid || disableSubmit"
        (click)="onSubmit()">{{"Register" | translate}}</ion-button>

      <!--ion-button expand="block" shape="undefined" mode="ios" fill="clear" color="facebook" (click)="loginWithPhone()" [disabled]="phoneLogingInn"><ion-spinner name="dots" color="{{settings.theme.button}}" *ngIf="phoneLogingInn"></ion-spinner><span *ngIf="!phoneLogingInn">{{"Register with OTP"| translate}}</span></ion-button-->

      <div class="errors" *ngIf="errors">
        <div *ngFor="let error of errors | keys" style="text-align: center; padding-top: 20px;">
          <ion-label color="danger" class="error" [innerHTML]="error.value"></ion-label>
        </div>
      </div>
    </div>



  </div>
</ion-content>