<ion-header>
    <ion-toolbar color="primary" mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/cart"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">{{ "receiver & billing" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngIf="hasReceiver">

        <h4 class="card-title ion-text-capitalize">
            {{ "choose receiver" | translate }}
        </h4>

        <div class="spinner" *ngIf="loader2">
            <ion-spinner> </ion-spinner>
        </div>

        <ion-row *ngIf="!loader2" class="ion-margin-top">

            <ion-col size="6" *ngFor="let receiver of receivers">
                <ion-card class="ion-activatable ion-focusable hydrated receiverCard" mode="ios"
                    (click)="chooseParentReceiver(receiver)"
                    [ngClass]="{'receiverHighlight' : receiver.id == parentReceiver.id}">

                    <ion-card-header>
                        <ion-card-title>{{ receiver.name | translate }}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <h2 style="font-size: 30px;">
                            <ion-icon [name]="receiver.icon"></ion-icon>
                        </h2>
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>

        <ion-row *ngIf="!loader2 && parentReceiver" class="ion-margin-vertical">

            <ion-col size="6" *ngFor="let receiver of parentReceiver.children">
                <ion-card class="ion-activatable ion-focusable hydrated receiverCard" mode="ios"
                    (click)="chooseReceiver(receiver)"
                    [ngClass]="{'receiverHighlight' : receiver.id == choosenReceiver.id}">
                    <ion-card-content class="ion-text-capitalize">
                        {{ receiver.name | translate }}
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

    <div class="spinner" *ngIf="loader">
        <ion-spinner> </ion-spinner>
    </div>

    <ion-card class="card-no-margin" mode="ios" *ngIf="!loader && choosenReceiver.id != 0">
        <ion-card-header>
            <ion-card-title>{{ "Billing Address" | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-no-padding">

            <ion-list no-margin>

                <ion-item>
                    <ion-label position="stacked">{{ "first name" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_first_name" name="firstname">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "last name" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_last_name" name="lastname">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "phone" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_phone" name="telephone">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "company" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_company" name="company">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "street address" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_address_1" name="street1">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "street address" | translate }} 2</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_address_2" name="street2">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "email" | translate }}</ion-label>
                    <ion-input required type="email" [(ngModel)]="checkoutData.form.billing_email" name="email">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "city" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_city" name="city">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">{{ "postcode" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_postcode" name="postcode">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="checkoutData.form?.countries && checkoutData.form?.countries.length > 1">
                    <ion-label>{{ "country" | translate }}</ion-label>
                    <ion-select [(ngModel)]="checkoutData.form.billing_country" (ngModelChange)="getBillingRegion()"
                        name="billing_country">
                        <div *ngFor="let field of checkoutData.form.countries">
                            <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span>
                            </ion-select-option>
                        </div>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="checkoutData.billingStates?.regions.length">
                    <ion-label>{{ "state" | translate }}</ion-label>
                    <ion-select [(ngModel)]="checkoutData.form.billing_state" name="billing_state">
                        <div *ngFor="let field of checkoutData.billingStates.regions">
                            <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span>
                            </ion-select-option>
                        </div>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!checkoutData.billingStates?.regions.length">
                    <ion-label position="stacked">{{ "state" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.billing_state" name="billing_state">
                    </ion-input>
                </ion-item>

                <ion-item class="shipToDifferentAddress">
                    <ion-label>{{ "ship to different address" | translate }}</ion-label>
                    <ion-toggle color="{{settings.theme.button}}"
                        [(ngModel)]="checkoutData.form.ship_to_different_address">
                    </ion-toggle>
                </ion-item>

            </ion-list>

            <ion-list no-margin *ngIf="checkoutData.form.ship_to_different_address"
                class="shippingForm ion-text-capitalize">

                <ion-list-header>
                    <ion-label>{{ "shipping address" | translate }}</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label position="stacked">{{ "first name" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_first_name"
                        name="firstname">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "last name" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_last_name" name="lastname">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "company" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_company" name="company">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "street address" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_address_1" name="street1">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "street address" | translate }} 2</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_address_2" name="street2">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "city" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_city" name="city">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">{{ "postcode" | translate }}</ion-label>
                    <ion-input required type="number" [(ngModel)]="checkoutData.form.shipping_postcode" name="postcode">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="checkoutData.form?.countries && checkoutData.form?.countries.length > 1">
                    <ion-label>{{ "country" | translate }}</ion-label>
                    <ion-select [(ngModel)]="checkoutData.form.shipping_country" (ngModelChange)="getShippingRegion()"
                        name="shipping_country">
                        <div *ngFor="let field of checkoutData.form.countries">
                            <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span>
                            </ion-select-option>
                        </div>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="checkoutData.shippingStates?.regions.length">
                    <ion-label>{{ "state" | translate }}</ion-label>
                    <ion-select [(ngModel)]="checkoutData.form.shipping_state" name="shipping_state">
                        <div *ngFor="let field of checkoutData.shippingStates.regions">
                            <ion-select-option value="{{field.value}}"><span [innerHTML]="field.label"></span>
                            </ion-select-option>
                        </div>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!checkoutData.shippingStates?.regions.length">
                    <ion-label position="stacked">{{ "state" | translate }}</ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_state"
                        name="shipping_state">
                    </ion-input>
                </ion-item>


                <!--ion-item *ngIf="countries?.options">
                <ion-label>{{ "Country" | translate }}</ion-label>
                <ion-select [(ngModel)]="checkoutData.form.shipping_country" (ngModelChange)="getShippingRegion()" name="shipping_country">
                    <div *ngFor="let field of countries.options | keys">
                        <ion-select-option value="{{field.key}}"><span [innerHTML]="field.value"></span></ion-select-option>
                    </div>
                </ion-select>
            </ion-item>
    
            <div *ngIf="checkoutData.form?.shipping_country">
            <ion-item *ngIf="checkoutData.form?.state[checkoutData.form.shipping_country]">
                <ion-label>{{ "State" | translate }}</ion-label>
                <ion-select [(ngModel)]="checkoutData.form.shipping_state" name="shipping_state">
                    <div *ngFor="let field of checkoutData.form.state[checkoutData.form.shipping_country] | keys">
                        <ion-select-option value="{{field.key}}"><span [innerHTML]="field.value"></span></ion-select-option>
                    </div>
                </ion-select>
            </ion-item>
            
    
            <ion-item *ngIf="!checkoutData.shippingStates">
                <ion-label position="stacked">{{ "State" | translate }}</ion-label>
                <ion-input required type="text" [(ngModel)]="checkoutData.form.shipping_state" name="shipping_state"> </ion-input>
            </ion-item>
            </div-->


            </ion-list>

            <div *ngIf="errorMessage">
                <h2 [innerHTML]="errorMessage" style="font-size: 14px;  color: red;margin: 16px;"></h2>
            </div>

            <ion-button color="{{settings.theme.button}}" expand="block" fill="solid" (click)="continueCheckout()"
                class="ion-margin" style="margin-top: 30px;">
                {{ "continue" | translate }}
            </ion-button>

        </ion-card-content>
    </ion-card>

</ion-content>