.receiverCard {
    border: 2px solid transparent;
    margin: 0px;
}

.receiverHighlight {
    border: 2px solid #0cd1e8;
}

.card-title {
    margin: 20px 15px 0 15px;
    text-transform: capitalize;
}

.shippingForm,
.shipToDifferentAddress {
    height: 0;
    opacity: 0;
}

ion-label {
    text-transform: capitalize;
}