<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/cart/address"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Checkout" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



  <div class="spinner" *ngIf="!orderReview">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="orderReview">
    <ion-list>
      <ion-list-header>
        <ion-label>{{ "Billing Address" | translate }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label text-wrap>
          <p>
            <span>{{checkoutData.form.billing_first_name}}</span>&nbsp;<span>{{checkoutData.form.billing_last_name}}</span>&nbsp;<span>{{checkoutData.form.billing_company}}</span>&nbsp;<span>{{checkoutData.form.billing_address_1}}</span>&nbsp;<span>{{checkoutData.form.billing_address_2}}</span>&nbsp;<span>{{checkoutData.form.billing_city}}</span>
            <span>{{checkoutData.form.billing_state}}</span>&nbsp;<span>{{checkoutData.form.billing_postcode}}</span>&nbsp;<span>{{checkoutData.form.billing_country}}</span>
            &nbsp;<span>{{checkoutData.form.billing_email}}</span>&nbsp;<span>{{checkoutData.form.billing_phone}}</span>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>{{ "Receiver" | translate }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label text-wrap>
          <p class="ion-text-capitalize" *ngIf="checkoutData.form.shipping_address_1 != 'not set'">
            <span>{{ checkoutData.form.shipping_address_1 }}</span>
          </p>
          <p class="ion-text-capitalize" *ngIf="checkoutData.form.shipping_address_2 != 'not set'">
            <span>{{ checkoutData.form.shipping_address_2 }}</span>
          </p>
          <p *ngIf="isZakat">
            <span>{{ '*zakat will be distributed to the legal asnaf.' | translate }}</span>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="orderReview?.shipping">
      <ion-radio-group *ngFor="let package of orderReview.shipping" [(ngModel)]="package.chosen_method"
        (ngModelChange)="updateOrderReview()">
        <ion-list-header>
          <!-- <span [innerHTML]="package.package_name"></span> -->
          {{ "Transaction Fee" | translate }}
        </ion-list-header>
        <ion-item *ngIf="isEmptyObject(package.shipping)">
          <ion-label>
            <p>{{ "No Shipping Available" | translate }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let method of package.shipping | keys">
          <ion-label>
            <!-- <span [innerHTML]="method.value.label"></span> <b>-</b> -->
            <span>{{ method.value.cost | currency:settings.currency:true:'1.2-2' }}</span>
          </ion-label>
          <ion-radio color="{{settings.theme.button}}" value="{{method.value.id}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list *ngIf="orderReview?.payment">
      <ion-radio-group [(ngModel)]="checkoutData.form.payment_method" (ngModelChange)="onChangePayment()">
        <ion-list-header>
          {{ "Choose Payment Method" | translate }}
        </ion-list-header>
        <ion-item *ngFor="let method of orderReview.payment | keys">
          <ion-label text-wrap class="ion-text-nowrap"><span [innerHTML]="method.value.title"></span></ion-label>
          <ion-radio color="{{settings.theme.button}}" value="{{method.value.id}}"></ion-radio>

        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div *ngIf="cardResponse.cardNumber && checkoutData.form.payment_method == 'stripe'">
      <ion-card mode="md">
        <ion-item *ngIf="cardResponse.cardNumber">
          <ion-label text-wrap>
            <ion-text>
              <h3>{{ "card number" | translate }}</h3>
            </ion-text>
            <p>{{ cardResponse.cardNumber }}</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label text-wrap>
            <ion-text>
              <h3>{{ "expiry date" | translate }}</h3>
            </ion-text>
            <p>{{ cardResponse.expiryMonth }}/{{ cardResponse.expiryYear }}</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label text-wrap>
            <ion-text>
              <h3>{{ "CVV" | translate }}</h3>
            </ion-text>
            <p>{{ cardResponse.cvv }}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>

    <div *ngIf="checkoutData.form.payment_method =='authnet'" class="card-payment">
      <form #f="ngForm">
        <ion-list no-margin>
          <ion-item class="side-heading-background">
            <ion-label color="side-heading-color">Card Details </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "Card Number" | translate }} </ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form['authnet-card-number']" name="stripe_number">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "Expiry Month" | translate }} (MM) </ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.expiryMonth" name="stripe_exp_year">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "Expiry Year" |translate }} (YY) </ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form.expiryYear" name="stripe_exp_year">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ "Card Code" | translate }} </ion-label>
            <ion-input required type="text" [(ngModel)]="checkoutData.form['authnet-card-cvc']" name="stripe_code">
            </ion-input>
          </ion-item>
        </ion-list>
      </form>
    </div>

    <ion-item style="padding-top: 16px;" lines="none" *ngIf="checkoutData.form.payment_method =='stripe'">
      <ion-label>Use a new Card</ion-label>
      <ion-checkbox [(ngModel)]="checkoutData.form.card" (ngModelChange)="onUseNewCard()" slot="end"></ion-checkbox>
    </ion-item>

    <div *ngIf="checkoutData.form.payment_method =='stripe'" class="stripe-payment">
      <form action="/charge" method="post" id="payment-form">
        <div class="form-row">

          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" class="card-error" role="alert"></div>
        </div>
      </form>
    </div>

    <!--div *ngIf="checkoutData.form.payment_method =='stripe'" class="card-payment">
        <form #f="ngForm">
            <ion-list no-margin>
                <ion-item class="side-heading-background">
                    <ion-label color="side-heading-color">Card Details </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "Card Number" | translate }} </ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_number" name="stripe_number"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "Expiry Month" | translate }} (MM) </ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_exp_month" name="stripe_exp_year"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "Expiry Year" |translate }} (YYYY) </ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_exp_year" name="stripe_exp_year"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">{{ "Card Code" | translate }} </ion-label>
                    <ion-input required type="text" [(ngModel)]="checkoutData.form.stripe_code" name="stripe_code"> </ion-input>
                </ion-item>
            </ion-list>
        </form>
    </div-->

    <!--ion-row class="check-box-bottom" style="margin-top:0" *ngIf="form.show_terms">
      <ion-col no-lines class="col1">
          <ion-checkbox checked="true" [(ngModel)]="form.terms" name="terms"> </ion-checkbox>
      </ion-col>
      <ion-col class="col2">
          <ion-label>{{ "I Agree" | translate }} <a  (click)="terms()">{{ "Terms & Conditions" | translate }}</a> </ion-label>
      </ion-col>
    </ion-row-->
    <ion-item class="payment-description" *ngIf="orderReview.payment[checkoutData.form.payment_method]?.description"
      lines="none">
      <ion-label text-wrap>
        <span [innerHTML]="orderReview.payment[checkoutData.form.payment_method]?.description"></span>
      </ion-label>
    </ion-item>

    <div *ngIf="errorMessage">
      <h2 [innerHTML]="errorMessage" style="font-size: 14px;  color: red; text-align: center;"></h2>
    </div>

    <div class="button-place-order">
      <ion-button color="{{settings.theme.button}}" (click)="onClickStripeSubmit()" expand="block" fill="solid"
        text-uppercase id="card-button" *ngIf="checkoutData.form.payment_method == 'stripe'">
        {{ 'Place Order' | translate }}</ion-button>
    </div>

    <ion-button class="ion-margin" [disabled]="disableButton" *ngIf="checkoutData.form.payment_method != 'stripe'"
      color="{{settings.theme.button}}" expand="block" fill="solid" (click)="placeOrder()">
      {{ 'Place Order' | translate }}
    </ion-button>
  </div>

</ion-content>