.login1 {
    padding: 0 16px;
    display: flex !important;
    justify-content: center !important;
    height: 100%;
    flex-direction: column;

    ion-list {
        margin: 16px 8px;
        background: transparent;

        ion-item {
            --background: transparent;
        }
    }

    ion-button {
        --border-radius: 4px;
    }

    p {
        text-align: center;
    }

    ion-card {
        padding: 10px;
        margin: 0;
    }

    .my-account-text {
        color: black;
        font-size: x-large;
        font-weight: 800;
    }
}

.login-logo {
    //width: 200px;
    position: absolute;
    margin: auto;

    img {
        margin-top: -90px;
    }
}

ion-content {
    //--background: linear-gradient(to right, #2B32B2, #1488CC) !important; //gradient background
    //--background: url(../../../../assets/image/login_background4.jpg) 0 0/auto 100% no-repeat; //image background
}