<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Login" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- Top header image. uncomment if not using background image in scss file -->
  <!--div class="login-logo">
    <img src="assets/image/login_logo2.jpg">
  </div-->

  <!-- Login Form 1 -->
  <div class="login1">
    <ion-card mode="ios">
      <div class="form">

        <div class="logo-wrapper">
          <img src="assets/logo.png" class="logo">
        </div>

        <!--p><ion-text color="medium">-- {{"continue with" | translate}} --</ion-text></p>
        <ion-grid>
        <ion-row>
        <ion-col size="6">
        <ion-button expand="block" shape="undefined" mode="ios" fill="solid" color="google" (click)="googleLogin()" [disabled]="googleLogingInn">
        <ion-icon slot="start" name="logo-google"></ion-icon>{{"Google"| translate}}</ion-button>
        <br/>
        </ion-col>
        <ion-col size="6">
        <ion-button expand="block" shape="undefined" mode="ios" fill="solid" color="facebook" (click)="facebookLogin()" [disabled]="facebookLogingInn">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>{{"Facebook"| translate}}</ion-button>
        </ion-col>
        </ion-row>
        </ion-grid>
        <p><ion-text color="medium">-- {{"or use email address" | translate}} --</ion-text></p-->
        <ion-list>
          <form [formGroup]="form">
            <ion-item mode="md">
              <ion-icon slot="start" name="person" mode="md"></ion-icon>
              <ion-input type="text" formControlName="username" placeholder="Email/Username"></ion-input>
            </ion-item>
            <ion-item mode="md">
              <ion-icon slot="start" name="key" mode="md"></ion-icon>
              <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
            </ion-item>
          </form>
        </ion-list>
        <ion-button shape="undefined" fill="solid" color="dark" expand="block" [disabled]="disableSubmit"
          (click)="onSubmit()">{{"Login"| translate}}</ion-button>
        <ion-button color="dark" expand="full" fill="clear" (click)="forgotton()">
          {{"Forgot Password"| translate}}?</ion-button>
        <br />
        <div class="errors" *ngIf="errors">
          <div *ngFor="let error of errors | keys" style="text-align: center; padding-top: 10px;">
            <ion-label color="danger" [innerHTML]="error.value"></ion-label>
          </div>
        </div>
      </div>
    </ion-card>
  </div>

  <!-- Login Form 2 -->
  <!--div class="login1">
  <ion-card mode="md">
  <div class="form"> 
        <ion-list>
        <form [formGroup]="form">

          <p><ion-text color="medium">-- {{"continue with" | translate}} --</ion-text></p>
          <ion-grid>
          <ion-row>
          <ion-col size="6">
          <ion-button expand="full" shape="round" mode="ios" fill="outline" color="google" (click)="googleLogin()" [disabled]="googleLogingInn">
          <ion-icon slot="start" name="logo-google"></ion-icon>{{"Google"| translate}}</ion-button>
          <br/>
          </ion-col>
          <ion-col size="6">
          <ion-button expand="full" shape="round" mode="ios" fill="outline" color="facebook" (click)="facebookLogin()" [disabled]="facebookLogingInn">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>{{"Facebook"| translate}}</ion-button>
          </ion-col>
          </ion-row>
          </ion-grid>
          <p><ion-text color="medium">-- {{"or use email address" | translate}} --</ion-text></p>

          <ion-item mode="md">
          <ion-icon slot="start" name="person" mode="md"></ion-icon>
          <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
          </ion-item>
          <ion-item mode="md">
          <ion-icon slot="start" name="key" mode="md"></ion-icon>
          <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
         </form>  
        </ion-list>
        <ion-button shape="round" mode="ios" fill="solid" color="{{settings.theme.button}}" expand="full" [disabled]="disableSubmit" (click)="onSubmit()">{{"Login"| translate}}</ion-button>
        <ion-button color="{{settings.theme.button}}" expand="full" fill="clear" (click)="forgotton()">{{"Forgot Password"| translate}}?</ion-button>
        <br/>
        <br/>
        <div class="errors" *ngIf="errors">
          <div *ngFor="let error of errors | keys">
            <span [innerHTML]="error.value"></span>
          </div>
        </div>
  </div>
</ion-card>
</div-->
</ion-content>