<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      {{ "tadhkirah" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="spinner" *ngIf="loading">
    <ion-spinner> </ion-spinner>
  </div>

  <ion-card *ngFor="let post of posts" mode="ios">
    <iframe [src]="post.youtubeLink" allow="autoplay;" frameborder="0" class="youtubeFrame"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <ion-card-header>
      <ion-card-title>{{ post.title.rendered }}</ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHtml]="post.contentClean">
    </ion-card-content>
  </ion-card>

</ion-content>