.youtubeFrame {
    //set the height to 100% of the viewport less the height of the header
    height: 50vw;

    //set the width to 100% of the viewport width
    width: 100%;

    //remove border, padding, margin
    border: none;
    padding: 0;
    margin: 0;
}