<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group>
      <ion-item (click)="syncSolat()">
        <ion-label class="payment-method-title">
          Sync Solat
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>