<ion-header class="circle-header">
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"Cart" | translate}}
    </ion-title>
  </ion-toolbar> -->
  <ion-grid class="my-account-header">
    <ion-row>
      <ion-col>
        <ion-item color="transperant" lines="none">
          <ion-icon class="icon-header-icon ion-margin-end" name="grid" slot="start"></ion-icon>
          <ion-label class="account-name">
            {{ "More Features" | translate }}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="categories">

  <!-- Default category block -->
  <!--ion-row>
    <ion-col size='6' size-sm="4" size-md="3" *ngFor="let category of data.mainCategories" (click)="getProducts(category.id)">
    <ion-card class="category-card" class="ion-activatable ion-focusable hydrated" mode="md">
      <ion-img alt="" src="{{category.image?.src}}"></ion-img>
      <ion-card-header>
        <ion-card-title [innerHTML]="category.name"></ion-card-title>
      </ion-card-header>
    </ion-card>
    </ion-col>
  </ion-row-->

  <div class="category-container">
    <ion-grid class="categories-card5" no-padding>
      <ion-row *ngIf="apps.length > 0" class="sub-category-items">
        <ion-col size="4" size-sm="4" size-md="3" *ngFor="let app of apps" (click)="navigate(app)" fixed>
          <ion-card class="item-card" class="ion-activatable ion-focusable hydrated" mode="md">
            <ion-card-content>
              <img alt="" src="{{ app.icon }}">
            </ion-card-content>
            <ion-card-header class="ion-text-center">
              <!-- <ion-card-title [innerHTML]="app.name"></ion-card-title> -->
              {{ app.name | translate }}
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>