<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="title" class="ion-text-capitalize">
      {{ title | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="post">
  <div class="spinner" *ngIf="loading">
    <ion-spinner> </ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let post of posts" (click)="navigate(post)">
      <ion-thumbnail slot="start">
        <img [src]="post.media">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ post.title.rendered }}</h2>
        <h3>{{ post.date | date :  "dd MMM y" }}</h3>
        <!-- <p>{{ data.content.rendered }}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>