<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Orders" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="orders">

  <div class="spinner" *ngIf="!orders">
    <ion-spinner> </ion-spinner>
  </div>

  <div *ngIf="orders">
    <div *ngIf="orders.length == 0" text-center class="empty">
      <ion-icon name="document"></ion-icon>
    </div>

    <ion-card *ngFor="let item of orders" (click)="getDetail(item)" class="ion-activatable ion-focusable hydrated"
      mode="ios">
      <ion-card-header>
        <ion-card-subtitle>{{ item.id }} - <span
            style="text-transform: uppercase;">{{ item.status | translate }}</span><br>
          <span *ngIf="item.deliverStatus">{{ item.deliverStatus }}</span>
        </ion-card-subtitle>
        <ion-card-title>{{ item.total | currency:settings.currency:'symbol':'1.2-2' }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ item.date_created | date:'MMM d, y hh:mm a' }}</p>
        <p [innerHTML]="item.payment_method_title"></p>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll threshold="100px" *ngIf="hasMoreItems && orders.length" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>