<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!surah.name">
      {{ "Surah" | translate }}
    </ion-title>
    <ion-title *ngIf="surah.name">
      {{ surah.name }}
    </ion-title>
  </ion-toolbar>

  <ion-grid class="alinfaq-surah-title">
    <ion-row>
      <ion-col class="ion-text-start title1" size="6">
        {{ surah.name }}
      </ion-col>
      <ion-col class="ion-text-end title2" size="6">
        {{ surah.name_arabic }}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content (ionScroll)="scroll($event)" [scrollEvents]="true" #content>

  <ion-list *ngIf="!verseDone" lines="full" mode="ios">
    <ion-item *ngFor="let verse of versesDummy">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-end alinfaq-verse" size="12">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-start alinfaq-verse-en" size="12">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="verses" lines="full" mode="ios">
    <ion-item *ngFor="let verse of verses" [id]="verse.id">

      <ion-grid>
        <ion-row>
          <ion-col class="alinfaq-checkmark" size="1">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-col>
          <ion-col class="ion-text-end alinfaq-verse" size="11">
            {{ verse.verse }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-start alinfaq-verse-en" size="12">
            {{ verse.position }}. {{ verse.verse_en }}
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="dark" fill="clear" class="next-surah" (click)="goNextSurah()" *ngIf="verses"> 
    Next Surah <ion-icon name="arrow-forward-outline" style="margin-left: 10px;"></ion-icon>
  </ion-button>
  <div style="height: 20px; width: 100%;"></div>

</ion-content>
