.alinfaq-verse{
    padding: 20px 5px;
    font-size: 1.5rem;
}

.alinfaq-verse-en{
    font-size: 0.8rem;
    padding-bottom: 20px;
}

.alinfaq-checkmark{

    ion-icon{
        height: 100%;
        width: 100%;
    }

}

.alinfaq-surah-title{
    padding: 12px 15px;
    border-bottom: 2px solid #000;
    background-color: #d2f8d2;

    .title1{
        font-size: 1rem;
        color: #004D40;
        height: 40px;
        line-height: 40px;
    }

    .title2{
        font-size: 2rem;
    }
}

.next-surah{
    margin-top: 50px;
}