<ion-header class="green-gradient" mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      {{ "Infaq" | translate }}
    </ion-title>
  </ion-toolbar>
  <app-menubar [activeMenu]="infaq.id"></app-menubar>

</ion-header>
<ion-content class="overflow-content ion-padding">

  <ion-item class="choosen-country" lines="none" (click)="resetCountry()">
    <ion-label *ngIf="!country">
      <h2>{{ "Choose Distribution Country" | translate }}</h2>
      <h3>{{ "Item will be sent to the choosen country" | translate }}</h3>
    </ion-label>
    <ion-label *ngIf="country">
      <h2>{{ "Your Choosen Country" | translate }}</h2>
      <h3>{{ "Item will be sent to the choosen country" | translate }}</h3>
    </ion-label>
    <ion-avatar slot="end" *ngIf="country">
      <img [src]="country.image.src">
    </ion-avatar>
  </ion-item>

  <div class="spinner" *ngIf="!countries">
    <ion-spinner> </ion-spinner>
  </div>

  <ion-grid class="" *ngIf="countries && !country && !countryChildrens">
    <ion-row>
      <ion-col size="6" *ngFor="let country of countries">
        <ion-card class="category-card ion-text-center ion-activatable ion-focusable hydrated" mode="ios"
          (click)="selectCountry(country)">
          <img [src]="country.image_path">

          <ion-card-title style="white-space: normal;">{{ country.name }}</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="" *ngIf="countries && !country && countryChildrens">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="light" (click)="backToCountryList()">{{ 'back' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ng-container *ngFor="let country of countryChildrens">
        <ion-col [size]="((country.slug == 'any-country-admin-select') ? 12 : 6)">
          <ion-card class="category-card ion-text-center ion-activatable ion-focusable hydrated" mode="ios"
            (click)="selectCountry(country)">
            <img [src]="country.image_path">

            <ion-card-title style="white-space: normal;">{{ country.name }}</ion-card-title>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ion-grid class="section-infaqType" *ngIf="country && !infaqType">
    <ion-row>
      <ion-col size="6" *ngFor="let infaqType of infaqTypes">
        <ion-card class="ion-activatable ion-focusable hydrated" mode="ios" (click)="selectInfaqType(infaqType)"
          style="margin:5px;">

          <ion-card-header>
            <ion-card-title>{{ infaqType.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h2 style="font-size: 60px; line-height:0;">
              <ion-icon [name]="infaqType.icon"></ion-icon>
            </h2>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item style="display: none;">
    <ion-label>{{ "Country" | translate }}</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" value="brown" okText="Okay"
      cancelText="Dismiss" #countrySelect (ionChange)="allCountrySelect($event)">
      <ion-select-option *ngFor="let country of countrySelection | keyvalue" [value]="country.value">{{ country.value }}
      </ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>