.country-card {
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    font-size: 0.8rem;

    ion-card-title {
        margin-top: 5px;
        font-size: 0.8rem;
    }
}

.infaqType-card {
    margin: 5px;
    padding: 10px;
    border-radius: 15px;

    ion-card-header {
        padding: 0;
    }

    ion-card-title {
        font-size: 14px;
    }
}

.choosen-country {
    margin-top: 15px;

    ion-label {
        margin-bottom: 0px;
    }
}

.section-infaqType,
.section-cashType {

    .infaqType-icon {
        font-size: 16vw;
    }
}

.cash-card {
    background-color: #eee;
    color: #111;

    .amount-text {
        padding-top: 10px;
    }
}

.cash-card-total {
    padding: 5px;
    background-color: #eee;
    color: #111;
}

.amount-text {
    font-size: 16px;
    margin: 0;
}

.amount-input {
    font-size: 16px;
    text-align: right;
    padding-right: 10px !important;
    background-color: white;
    border-radius: 5px;
}