<ion-header class="product-header" mode="md">
   <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">
         {{ product?.name }}
      </ion-title>
      <!-- <ion-buttons slot="end" (click)="share()">
         <ion-icon name="share" style="margin-right: 8px;font-size: 23px"></ion-icon>
      </ion-buttons> -->
   </ion-toolbar>
</ion-header>
<ion-content class="product">
   <div class="spinner" *ngIf="!product.id && loader">
      <ion-spinner> </ion-spinner>
   </div>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="settings.settings?.enable_product_chat">
      <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
         <ion-fab-button size="small" color="whatsapp">
            <ion-icon name="logo-whatsapp"></ion-icon>
         </ion-fab-button>
      </a>
   </ion-fab>
   <div *ngIf="product.id && !loader">
      <div style="display: flex;">
         <ion-slides pager="true" *ngIf="!product.image" dir="{{settings.dir}}">
            <ion-slide *ngFor="let item of product.images">
               <img src="{{item.src}}" />
            </ion-slide>
         </ion-slides>
         <div *ngIf="product.image">
            <ion-img src="{{product.image}}"></ion-img>
         </div>
         <ion-button color="danger" class="stock" *ngIf="product.stock_status == 'outofstock'">
            {{"No Stock" | translate}}</ion-button>
      </div>
      <div class="product-details">
         <!-- <ion-item lines="none">
            <ion-label text-wrap>
               {{product.name}}
            </ion-label>
            <ion-icon name="heart-empty" class="heartempty onpress" slot="end"
               (click)="settings.addToWishlist(product.id)" *ngIf="!settings.wishlist[product.id]"></ion-icon>
            <ion-icon name="md-heart" class="heartempty onpress" slot="end" color="{{settings.theme.button}}"
               (click)="settings.removeFromWishlist(product.id)" *ngIf="settings.wishlist[product.id]"></ion-icon>
         </ion-item> -->

         <!-- <ion-item lines="none">
            <ion-label *ngIf="product.sale_price">
               <span class="price" [innerHTML]="product.formated_sales_price"></span><del><span class="special-price"
                     [innerHTML]="product.formated_price"></span></del>
               <span *ngIf="((product.regular_price - product.price) /product.regular_price*100) >= 1"
                  class="percent-off">{{(product.regular_price - product.price) /product.regular_price*100 | number : '1.0-0'}}%
                  OFF</span>
            </ion-label>
            <ion-label *ngIf="!product.sale_price">
               <span class="price" [innerHTML]="product.formated_price"></span>
            </ion-label>
         </ion-item> -->

         <div class="variation-block" *ngIf="product.variationOptions.length">
            <div *ngFor="let attribute of product.variationOptions; let i = index" class="variation-product">
               <h6 style="margin-left: 16px;font-size: 14px;">{{"Select" | translate}} {{attribute.name}}</h6>
               <div *ngIf="attribute.options.length" class="option-box">
                  <ion-button class="option-button" fill="outline" color="{{settings.theme.button}}"
                     *ngFor="let option of attribute.options" (click)="chooseVariation2(i, option)"
                     [ngClass]="{'selected-option': attribute.selected == option}">{{option}}</ion-button>
               </div>
            </div>
         </div>

         <div class="grouped-block" *ngIf="groupedProducts.length">
            <div *ngFor="let item of groupedProducts" class="variation-product">
               <ion-input style="margin-left: 16px;margin-right: 16px;" type="number" [(ngModel)]="item.selected"
                  value="0" placeholder="Quantity"></ion-input>
               <h6 style="margin-left: 16px;font-size: 14px;">{{item.name}}</h6>
            </div>
         </div>

         <ion-item lines="none">
            <ion-label position="fixed">{{"Amount" | translate}}</ion-label>
            <ion-input [(ngModel)]="quantity" type="number" value="1" (ionChange)="changeQuantity(quantity)"
               class="cash-input" mode="ios">
            </ion-input>
         </ion-item>

         <ion-item lines="none" *ngIf="product.short_description" class="description">
            <ion-label text-justify text-wrap [innerHTML]="product.short_description">
            </ion-label>
         </ion-item>
         <ion-item lines="none" *ngIf="product.description" class="description">
            <ion-label text-justify text-wrap [innerHTML]="product.description">
            </ion-label>
         </ion-item>
      </div>

   </div>
</ion-content>

<ion-footer style="background-color: #ffffff;">
   <ion-toolbar style="padding: 0 10px;">
      <ion-button color="danger" *ngIf="quantity < minPrice" class="add-to-cart-button" expand="block">
         {{ "Amount cannot be under" | translate }} {{ minPrice }}
      </ion-button>

      <ion-button *ngIf="quantity >= minPrice" class="add-to-cart-button" expand="block"
         [disabled]="disableButton || product.stock_status == 'outofstock'" (click)="addToCart()">
         {{ "ADD TO CART" | translate}}
      </ion-button>
   </ion-toolbar>
</ion-footer>