.menubar-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.menubar-title {
  margin: 4px;
  margin-top: 4px;
  color: #000;
  font-size: 3vw;
}

.overflow-card {
  // display: inline-block;
  border-radius: 0;
  margin: 0;
  padding: 4px;
  // margin: 0px 10px -50px 10px;
  background-color: #ffffd4;
  z-index: 9999;
}

.button-card {
  margin: 0;
  box-shadow: none;
  background-color: transparent;

  ion-card-header {
    font-size: 3vw;
    font-weight: bolder;
    padding: 0 0 0 0;
    padding-bottom: 4px;
    color: #000000;
  }

  img {
    // padding: 0px 10px;
  }

  ion-spinner {}

  ion-col {
    padding: 0;
  }
}

ion-card-header {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9rem;
}

.active {
  color: var(--ion-color-success) !important;
}

.icon-wrapper {
  padding: 0 4vw;
}