<ion-grid class="menubar-wrapper">
  <ion-card class="overflow-card" #menuBar id="menuBar" mode="ios" *ngIf="data.infaqTypes">
    <h3 class="menubar-title">{{ 'Please select' | translate }}</h3>
    <ion-grid style="padding: 0;">
      <ion-row>
        <ion-col *ngFor="let button of data.infaqTypes" class="ion-text-center icon-wrapper" size="3">
          <ion-card class="button-card" [routerLink]="button.link" (click)="redirectInfaq(button)">
            <img [src]="button.image_path" />
            <ion-card-header class="menuBar-text" *ngIf="button.id != activeMenu">
              {{ button.name | translate }}
            </ion-card-header>
            <ion-card-header class="menuBar-text active" *ngIf="button.id == activeMenu">
              {{ button.name | translate }}
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="overflow-card" #menuBar id="menuBar" mode="ios" *ngIf="data.infaqTypes.length <= 0">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let button of mainButtons" class="ion-text-center" size="3">
          <ion-card class="button-card" [routerLink]="button.link" (click)="redirectInfaq(button)">
            <ion-spinner name="circles"></ion-spinner>
            <ion-card-header class="menuBar-text" *ngIf="button.id != activeMenu">
              {{ button.name }}
            </ion-card-header>
            <ion-card-header class="menuBar-text active" *ngIf="button.id == activeMenu">
              {{ button.name }}
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-grid>