// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    //font-family: 'Montserrat-Regular';
    //src: url("assets/font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    //font-family: 'Montserrat-Light';
    //src: url("assets/font/Montserrat/Montserrat-Light.ttf");
}

* {
    //font-family: 'Montserrat-Regular' !important;
}

//infaq
ion-header {
    background-color: var(--ion-color-primary);

    ion-title {
        color: #ffffff;
    }
}

ion-content {
    --ion-background-color: #ffffff;
}

.overflow-content {
    --padding-top: 8vw;
}

.wrap-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.spinner-wrapper {
    width: 100%;
    padding: 20px;

    ion-spinner {
        width: 100%;
        height: 60px;
    }
}

.green-gradient {
    // --background: rgb(0, 89, 68) !important;
    // --background: linear-gradient(90deg, rgba(0, 89, 68, 1) 50%, rgba(14, 120, 56, 1) 96%) !important;
    --background: rgb(0, 89, 68);
    --background: linear-gradient(90deg, rgba(0, 89, 68, 1) 39%, rgba(14, 120, 56, 1) 87%);
    --ion-color-base: transparent !important;
    color: #ffffff !important;
}

.circle-header {
    padding-left: 50%;
    padding-right: 50%;
    width: 200%;
    margin-left: -50%;
    margin-top: -20%;
    padding-top: 20%;
    // border-radius: 0 0 50% 50%;
    margin-bottom: -10px;

    // background: linear-gradient(160deg, #003421 0%, #00754a 70%, #00cc82 100%);
    background: rgb(0, 89, 68);
    background: linear-gradient(90deg, rgba(0, 89, 68, 1) 39%, rgba(14, 120, 56, 1) 87%);

    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent !important;
        color: #ffffff;
    }
}

.header-md::after {
    display: none;
}

.transparent-divider {
    height: 55px;
    width: 100%;
}

.card-no-margin {
    margin: 0;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.my-account-header {
    background: #fff;
    // background: linear-gradient(90deg, rgba(0, 89, 68, 1) 39%, rgba(14, 120, 56, 1) 87%);
    color: #000;
    padding-top: 10px;
    // box-shadow: 0 4px 16px rgba(0, 0, 0, .2);

    .account-name {
        font-size: 22px;
        font-weight: 600;
        color: #000000;
    }

    .header-menus {
        ion-item {
            color: white;
        }

        ion-icon {
            margin-right: 10px;
        }
    }
}

.icon-header-icon {
    padding: 15px;
    background-color: var(--account-header-text, #000);
    border-radius: 50%;
    font-size: xx-large;
    color: var(--account-header, #36454f);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.logo-wrapper {
    text-align: center;
    padding: 20px;

    .logo {
        width: 40%;
        box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
        border-radius: 10px;
    }
}

.category-card {
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    font-size: 0.8rem;

    ion-card-title {
        margin-top: 5px;
        font-size: 0.8rem;
    }

    img {
        min-height: 100px;
    }
}

.cash-input {
    background-color: #eee;
    --padding-top: 15px;
    --padding-end: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    border-radius: 8px;
}

.qty-icon {
    height: 35px;
    width: 40px;
}

.ion-text-capfirst:first-letter {
    text-transform: uppercase;
}

.alert-popup {

    .alert-wrapper {
        max-width: 80%;
        background: #e5e5e5;
        contain: initial;
    }

    .alert-head,
    .alert-button-group,
    .alert-message {
        padding: 0;
    }

    .alert-message {
        max-height: fit-content;
        margin-bottom: -3px;
    }

}

.btn-close {
    position: absolute !important;
    top: -15px;
    right: -15px;

    border-radius: 25px;
    height: 30px;
    width: 30px;
    background-color: #ffffff !important;
    border-radius: 25px !important;
    color: #000000 !important;
    border: 2px solid #000000 !important;
    padding-left: 8px !important;
    margin: 1px !important;
    max-width: 30px !important;
    min-width: 30px !important;
    height: 30px !important;

    --font-size: 12px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
    // background-color: white;
    --color: #000;
    --border: 2px solid #000000;
    --background: #ffffff;

    .alert-button-inner {
        justify-content: flex-start !important;
    }
}

//end infaq


.totals-amount {
    float: right;
}

html[dir="rtl"] {
    .totals-amount {
        float: left;
    }
}

.spinner {
    text-align: center;
    margin: 30px auto;
}

.activated {
    opacity: 0.8;
    transition-timing-function: ease-out;
    transition: .3s;
    box-shadow: none;
}

.no-shadow {
    box-shadow: none;
}

.border {
    box-shadow: none;
    border-bottom: 0.55px solid #f5f5f5;
    border-top: 0.55px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}

.scroll-related-products {
    padding: 16px 0 16px 0;
    overflow-y: hidden;
    white-space: nowrap;

    .product {
        display: inline-block;
        text-decoration: none;
        width: 50%;
        margin: 0 0 0 10px;
    }

    .product:last-child {
        margin-right: 10px
    }

    @media (min-width: 481px) and (max-width: 768px) {
        .product {
            width: 33.333%;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .product {
            width: 25%;
        }
    }

    @media (min-width: 1025px) {
        .product {
            width: 20%;
        }
    }

    ion-img {
        height: auto;
        width: 100%;
    }

    ion-card {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .border {
        border: 0.55px solid #f5f5f5;
    }
}

.banner_block {
    img {
        transition-timing-function: ease-in;
        transition: 0.3s;
        box-shadow: 0 4px 16px rgba(0, 0, 0, .12);
    }

    .activated {
        transition-timing-function: ease-out;
        transition: .3s;
        box-shadow: none;
    }

    .no-shadow {
        box-shadow: none;
    }
}

.wishlist-button-grid {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 1.5em;
    margin: 0.4rem -5px;
    z-index: 5;
}

ion-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: .4px;
    text-transform: uppercase;
}

.ios {
    .product-detail-name {
        ion-label {
            margin-right: 30px;
        }

        ion-icon {
            position: absolute;
            top: 4px;
            right: 5px;
        }
    }
}

.md {
    .product-detail-name {
        ion-label {
            margin-right: 30px;
        }

        ion-icon {
            position: absolute;
            top: 0px;
            right: 16px;
        }
    }
}

.empty {
    margin-top: 50px;
    text-align: center;

    ion-icon {
        font-size: 7.2em;
        color: var(--ion-color-step-200, #e6e6e6);
    }
}

.list-ios {
    background: var(--ion-background-color, #fff);
}

del {
    color: var(--ion-color-step-450);
}

.bold {
    font-weight: bold;
}

/*
 * Dark Colors
 * -------------------------------------------
 */

body.dark {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #1c1c1c;
    --ion-item-background-activated: #313131;
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1A1B1E;
}