.header-image {
    background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    height: 40vh;
}

.main-content {
    padding: 20px;
    background-color: white;
}

a.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

ion-card {
    margin: 0;
    height: 100%;
}

ion-card-header {
    padding: 10px;
}

ion-card-content {
    padding: 0;

    .price {
        padding: 0 10px 10px 10px;
        font-weight: bold;
        font-size: 14px;

        .special-price {
            padding-left: 5px;
            font-size: 10px;
            font-weight: 300;
        }
    }
}

ion-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .4px;
    //text-transform: uppercase;
}

ion-card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: small;
}

.blocks {
    .banner_block {
        overflow: auto;
        white-space: nowrap;
        position: relative;
        z-index: 0;

        .banner-scroll {
            img {
                text-decoration: none;
                margin: 0 5px 0 5px;
                width: 53%;
                vertical-align: middle;
            }

            img:first-child {
                margin: 0 5px 0 10px;
            }

            img:last-child {
                margin: 0 10px 0 5px;
            }
        }

        .banner-grid {
            img {
                vertical-align: middle;
            }

            .row.unlimited-items {
                flex-wrap: wrap;
            }

            .row.unlimited-items .col {
                flex: none;
                width: 50%;
                line-height: 0;
                padding: 5px;
            }
        }

        .floating-header {
            overflow: auto;
            white-space: nowrap;
            z-index: 3;
            padding-left: 30%;

            .banner {
                width: 90%;
                height: auto;
            }

            @media (min-width: 481px) and (max-width: 768px) {
                padding-left: 25%;
            }

            @media (min-width: 769px) and (max-width: 1024px) {
                padding-left: 20%;
            }

            @media (min-width: 1025px) {
                padding-left: 15%;
            }
        }
    }

    .scrollmenu {
        //background-color: #333;
        overflow: auto;
        white-space: nowrap;
    }

    .scrollmenu a {
        display: inline-block; //color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    .left_floating {
        padding: 0 16px;
        z-index: -1;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: absolute;
        top: 45%;
        max-width: 30%;
        width: 40%;
        text-align: center; //left: 0;
        white-space: normal;

        @media (min-width: 481px) and (max-width: 768px) {
            max-width: 30%;
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            max-width: 25%;
        }

        @media (min-width: 1025px) {
            max-width: 20%;
        }
    }

    .top_left {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 16px;
    }

    .top_center {
        padding: 14px 10px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
    }

    .top_right {
        padding: 10px 16px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: right;
    }

    .none {
        display: none;
    }

    .block-title {
        margin-top: 10px;
        font-weight: 400;
    }

    .product-block {
        overflow: auto;
        white-space: nowrap;
        position: relative;
        z-index: 0;

        .product-scroll {
            padding-bottom: 5px;

            .scroller {
                padding: 0px 4px 15px 4px;
                overflow: auto;
                white-space: nowrap;

                h5 {
                    margin: 0;
                    border-radius: 3px;
                    padding: 6px;
                    font-size: 12px;
                    text-transform: capitalize;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 400;
                }

                .product-item {
                    display: inline-block; //color: #000;
                    text-decoration: none;
                    width: 42%;
                    padding: 0px 5px 0px 5px;
                }

                @media (min-width: 481px) and (max-width: 768px) {
                    .product-item {
                        width: 33.333%;
                    }
                }

                @media (min-width: 769px) and (max-width: 1024px) {
                    .product-item {
                        width: 25%;
                    }
                }

                @media (min-width: 1025px) {
                    .product-item {
                        width: 20%;
                    }
                }

                img {
                    height: auto;
                    width: 100%;
                }

                ion-card {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }

                ion-card-content {
                    padding: 0;
                }

                .price-regular {
                    font-size: 14px;
                    font-weight: 400;
                }

                del {
                    font-size: 12px; //color: #535766; // margin-left: 10px;
                }

                ion-label {
                    margin: 0;
                    padding: 0 6px 6px 6px;
                }
            }

            .floating-header {
                overflow: auto;
                white-space: nowrap;
                z-index: 3;
                padding-left: 30%;

                .banner {
                    width: 90%;
                    height: auto;
                }
            }
        }

        .product-grid {
            .wishlist-button-grid1 {
                position: absolute;
                top: 2px;
                right: 20px;
                font-size: 2em;
                margin: 0.4rem -5px;
                color: #f44336;
            }

            .wishlist-button-grid2 {
                position: absolute;
                top: 2px;
                right: 20px;
                font-size: 2em;
                margin: 0.4rem -5px;
                color: #444;
            }

            ion-row {
                margin: 0;
                padding: 0 0 0 5px;
            }

            ion-col {
                margin: 0;
                padding: 5px 5px 0 0;
            }

            ion-card {
                position: relative;
                text-align: center;
                margin: 0;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    padding: 0;
                }

                ion-card-content {
                    padding: 0px;
                }
            }

            .card-title {
                position: absolute;
                top: 80%;
                font-size: 12px;
                width: 100%;
                font-weight: 500; //color: #fff;
            }

            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 52%;
                width: 100%; //color: #fff;
            }

            .card-name {
                width: 144px;
                margin: auto;

                ion-label {
                    margin: 8px 0;
                    height: 20px;
                    white-space: no-wrap;
                    font-size: 13px;
                }
            }

            .label {
                margin-bottom: 10px;
                margin-top: 5px;
            }

            .price-delete {
                //color: #535766;
                margin: 0 7.5px;
                font-size: 12px;
            }

            .price-regular {
                margin: 0 7.5px;
                font-size: 14px;
                font-weight: 400;
            }

            .row.unlimited-items {
                flex-wrap: wrap;
                padding-left: 0;
            }

            .row.unlimited-items .col {
                flex: none;
                width: 50%;
                padding: 0;
            }

            .row.unlimited-items .col:nth-child(2n+0) {
                border-right: none;
            }

            @media (min-width: 481px) and (max-width: 768px) {
                .row.unlimited-items .col {
                    width: 33.333%;
                }

                .row.unlimited-items .col:nth-child(3n+0) {
                    border-right: none;
                }
            }

            @media (min-width: 769px) and (max-width: 1024px) {
                .row.unlimited-items .col {
                    width: 25%;
                }

                .row.unlimited-items .col:nth-child(4n+0) {
                    border-right: none;
                }
            }

            @media (min-width: 1025px) {
                .row.unlimited-items .col {
                    width: 20%;
                }

                .row.unlimited-items .col:nth-child(5n+0) {
                    border-right: none;
                }
            }
        }
    }

    .flash_sale {
        .floating-header {
            overflow: auto;
            white-space: nowrap;
            z-index: 3;
            padding-left: 45% !important;
        }

        .left_floating {
            padding: 0;
            top: 15%;
            max-width: 48%;
            width: 48%;
        }

        .flash-item-name {

            //background-color: transparent;
            h2 {
                padding: 0;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                margin-left: -7px;
                margin-bottom: 8px;
                margin-top: 0;
            }

            h4 {
                //color: #999;
                padding: 4px 4px 8px 4px;
                font-size: 11px;
                text-align: center;
                text-transform: uppercase;
                text-align: center;
            }

            .day {
                background: black;
                color: #fff;
                width: 25px;
                min-width: 25px;
                max-width: 25px;
                height: 25px;
                min-height: 25px;
                max-height: 25px;
                font-size: 10px;
                display: inline-flex;
                margin: auto;
                text-align: center;

                span {
                    margin: auto;
                }
            }
        }
    }

    .category {
        z-index: 0;

        .floating-header {
            overflow: auto;
            white-space: nowrap;
            z-index: 3;
            padding-left: 43%;

            .banner {
                width: 90%;
                height: auto;
            }
        }

        .category-slider-scroll,
        .category-scroll {
            overflow: auto;
            white-space: nowrap;
            position: relative;
            display: -webkit-box;

            .scrollmenu2 {
                margin: 0;
                padding-bottom: 15px;
                overflow: auto;
                white-space: nowrap;

                .none {
                    display: none;
                }

                h5 {
                    margin: 0;
                    border-radius: 3px;
                    padding: 10px 4px 0 4px;
                    font-size: 11px;
                    text-transform: capitalize;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                img {
                    //height: auto;
                    //width: 20vw;
                    //max-width: 100px;
                    //max-height: 100px;
                }

                .product-item {
                    display: inline-block; //color: #000;
                    text-align: center;
                    padding: 14px;
                    text-decoration: none;
                    padding: 0 10px 10px 10px;
                    width: 40%;
                }

                @media (min-width: 481px) and (max-width: 768px) {
                    .product-item {
                        width: 33.333%;
                    }
                }

                @media (min-width: 769px) and (max-width: 1024px) {
                    .product-item {
                        width: 25%;
                    }
                }

                @media (min-width: 1025px) {
                    .product-item {
                        width: 20%;
                    }
                }
            }
        }

        .category-slider-grid,
        .category-grid {
            h5 {
                font-size: 13px;
            }

            ion-card-content {
                padding: 0px;
            }

            .card-md ion-card-content {
                padding: 0px;
            }

            .none {
                display: none;
            }

            ion-card {
                margin: 0px;
                width: 100%;
                border-radius: 0;

                img {
                    display: block;
                    width: 100%;
                    height: auto; //padding: 0 10px 0 10px;
                }
            }

            .row.unlimited-items {
                flex-wrap: wrap;
                padding-left: 0;
            }

            .row.unlimited-items .col {
                flex: none;
                padding: 0;
                width: 50%;
            }

            .row.unlimited-items .col:nth-child(2n+0) {
                border-right: none;
            }

            @media (min-width: 481px) and (max-width: 768px) {
                .row.unlimited-items .col {
                    width: 33.333%;
                }

                .row.unlimited-items .col:nth-child(3n+0) {
                    border-right: none;
                }
            }

            @media (min-width: 769px) and (max-width: 1024px) {
                .row.unlimited-items .col {
                    width: 25%;
                }

                .row.unlimited-items .col:nth-child(4n+0) {
                    border-right: none;
                }
            }

            @media (min-width: 1025px) {
                .row.unlimited-items .col {
                    width: 20%;
                }

                .row.unlimited-items .col:nth-child(5n+0) {
                    border-right: none;
                }
            }
        }
    }
}

.related-products {
    padding-bottom: 10px;

    .price {
        padding: 0 10px 10px 10px;
        font-weight: bold; //color: #000000;
        font-size: 14px;

        .special-price {
            padding-left: 5px;
            font-size: 10px;
            font-weight: 300;
        }
    }

    .related-item-name {
        //padding: 16px 0 0 0; //background-color: transparent;
        font-weight: 400;
    }

    .scroll-related-products {
        padding: 16px 0 16px 0;
        overflow-y: hidden;
        white-space: nowrap;

        .product {
            display: inline-block;
            text-decoration: none;
            width: 50%;
            margin: 0 0 0 10px;
        }

        .product:last-child {
            margin-right: 10px
        }

        @media (min-width: 481px) and (max-width: 768px) {
            .product {
                width: 33.333%;
            }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            .product {
                width: 25%;
            }
        }

        @media (min-width: 1025px) {
            .product {
                width: 20%;
            }
        }

        ion-img {
            height: auto;
            width: 100%;
        }

        ion-card {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .border {
            border: 0.55px solid #f5f5f5;
        }
    }

    ion-list-header {
        ion-label {
            font-weight: 600;
        }
    }
}

ion-header {
    img {
        height: 30px;
        width: auto;
    }
}

.stock {
    position: absolute;
    top: -4px;
    left: -6px;
    width: 130px;
    font-size: 8px;
    margin: 15px;
    margin-left: -39px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 19px;
    --box-shadow: none;
}

.offer {
    margin-left: 5px;
    font-size: 12px;
    --border-radius: 25px;
    width: 36px;
    min-height: 36px;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-box-shadow: none;
    --box-shadow: none;
}

.inner-scroll {
    padding-top: 0 !important;
    margin-top: 64px !important;
}

ion-refresher {
    z-index: 1;
}

.username-text {
    padding: 4px 5px;
    padding-top: 0;
    font-size: 1.1rem;
    color: #FFD700;
    margin: 0 10px;
}