.icon-start {
    //padding: 6px;
    //background-color: var(--account-header, #36454f); // UnComment this to add background color to icon
    //color: var(--account-header-text, #000);
    //border-radius: 50%; // Tune this to add rounded corner when added background color
    font-size: 22px; // Adjust the size of the icon
}

.icon-header-icon {
    padding: 15px;
    background-color: var(--account-header-text, #000);
    border-radius: 50%;
    font-size: xx-large;
    color: var(--account-header, #36454f);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

ion-list {
    a {
        text-decoration-line: none;
    }

    @media (min-width: 700px) {
        max-width: 600px;
        margin: auto;
        margin-top: 40px;
    }

    ion-item:first-child {
        --border-width: 0.55px 0 0 0;
    }

    ion-item:last-child {
        --border-width: 0 0 0.55px 0;
        --inner-border-width: 0 0 0 0;
    }

    ion-icon {
        padding: 4px;
        //background-color: var(--ion-color-primary, #428xff);
        border-radius: 4px;
        font-size: 16px;
    }
}

.list-md {
    padding-top: 0px;
    padding-bottom: 0px;
}