<ion-header>
    <ion-toolbar color="primary" mode="md">
        <ion-title>{{ "Account" | translate }}</ion-title>
    </ion-toolbar>
    <ion-grid class="my-account-header">
        <ion-row>
            <ion-col>
                <ion-item color="transperant" lines="none">
                    <ion-icon class="icon-header-icon ion-margin-end" name="person" slot="start"></ion-icon>
                    <ion-label class="account-name" *ngIf="settings.customer.id">
                        {{ settings.customer.display_name }}<br>
                        <span style="font-size: 15px; font-weight:400;">{{ settings.customer.user_email }}</span>
                    </ion-label>
                    <ion-label class="account-name" *ngIf="!settings.customer.id" (click)="goTo('tabs/account/login')">
                        {{ "Login" | translate }}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="header-menus" justify-content-between="">
            <ion-col>
                <ion-item color="transperant" lines="none" (click)="goTo('tabs/account/wishlist')"
                    *ngIf="settings.customer?.id" class="ion-activatable">
                    <ion-icon class="ion-margin-end" name="heart" slot="start"></ion-icon>
                    <ion-label>{{"Wishlist" | translate}}</ion-label>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item color="transperant" lines="none" (click)="goTo('tabs/account/wallet')"
                    *ngIf="settings.customer?.id && settings.settings?.enable_wallet" class="ion-activatable">
                    <ion-icon class="ion-margin-end" name="wallet" slot="start"></ion-icon>
                    <ion-label>{{"Wallet" | translate}}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row> -->
    </ion-grid>
</ion-header>
<ion-content>

    <ion-header>
        <!-- <ion-toolbar>
            <ion-title size="large">{{"Account" | translate}}</ion-title>
        </ion-toolbar> -->
        <ion-toolbar>
            <ion-row class="header-menus" justify-content-between="">
                <!-- <ion-col>
                    <ion-item color="transperant" lines="none" (click)="goTo('tabs/account/wishlist')"
                        *ngIf="settings.customer?.id" class="ion-activatable">
                        <ion-icon class="ion-margin-end" name="heart" slot="start"></ion-icon>
                        <ion-label>{{"Wishlist" | translate}}</ion-label>
                    </ion-item>
                </ion-col> -->
                <ion-col>
                    <ion-item color="transperant" lines="none" (click)="goTo('tabs/account/wallet')"
                        *ngIf="settings.customer?.id && settings.settings?.enable_wallet" class="ion-activatable">
                        <ion-icon class="ion-margin-end" name="wallet" slot="start"></ion-icon>
                        <ion-label>{{ "Wallet" | translate }}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item (click)="goTo('tabs/account/login')" detail="true" lines="inset" *ngIf="!settings.customer?.id"
            class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white"
                class="icon-start ion-margin-end" name="log-in" mode="md" slot="start"></ion-icon>
            <ion-label>{{ "Login" | translate }}</ion-label>
        </ion-item>
        <ion-item (click)="goTo('tabs/account/register')" detail="true" lines="inset" *ngIf="!settings.customer?.id"
            class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white"
                class="icon-start ion-margin-end" name="person" slot="start"></ion-icon>
            <ion-label>{{ "Register" | translate }}</ion-label>
        </ion-item>
        <!-- <ion-item (click)="goTo('tabs/account/points')" detail="true" lines="inset" *ngIf="settings.reward" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white" class="icon-start ion-margin-end" name="card" slot="start"></ion-icon>
            <ion-label>{{"Points" | translate}}</ion-label>
        </ion-item> -->
        <ion-item (click)="goTo('tabs/account/address')" detail="true" lines="inset" *ngIf="settings.customer?.id"
            class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white"
                class="icon-start ion-margin-end" name="location" slot="start"></ion-icon>
            <ion-label>{{ "Address" | translate }}</ion-label>
        </ion-item>
        <ion-item (click)="goTo('tabs/account/orders')" detail="true" lines="inset" *ngIf="settings.customer?.id"
            class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white"
                class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
            <ion-label>{{ "Orders" | translate }}</ion-label>
        </ion-item>
        <ion-item lines="inset" class="ion-activatable" href="https://wa.me/{{settings.settings?.whatsapp_number}}">
            <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white"
                class="icon-start ion-margin-end" name="logo-whatsapp" slot="start"></ion-icon>
            <ion-label>{{ "Whatsapp us" | translate }}</ion-label>
        </ion-item>
        <ion-item (click)="email(settings?.settings?.support_email)" detail="true"
            *ngIf="settings?.settings?.support_email" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white"
                class="icon-start ion-margin-end" name="mail" slot="start"></ion-icon>
            <ion-label>{{ "Email us" | translate }}</ion-label>
        </ion-item>

        <!-- <ion-item lines="inset" (click)="goTo('tabs/account/map')" detail="true"  class="ion-activatable" *ngIf="settings.settings?.switchLocations">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white" class="icon-start ion-margin-end" name="compass" slot="start"></ion-icon>
            <ion-label>{{"Locations" | translate}}</ion-label>
        </ion-item> -->
        <!-- <ion-item lines="inset" class="ion-activatable" detail="true"  (click)="shareApp()">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white" class="icon-start ion-margin-end" name="share" slot="start"></ion-icon>
            <ion-label>{{"Invite Friends" | translate}}</ion-label>
        </ion-item> -->
        <!-- <ion-item lines="inset" class="ion-activatable" detail="true"  (click)="rateApp()">
            <ion-icon style="background-color: var(--ion-color-danger, #428xff); color: white" class="icon-start ion-margin-end" name="star" slot="start"></ion-icon>
            <ion-label>{{"Rate us" | translate}}</ion-label>
        </ion-item>
        <ion-item lines="inset" (click)="goTo('tabs/account/blogs')" detail="true"  lines="inset" class="ion-activatable">
          <ion-icon style="background-color: var(--ion-color-primary, #428xff); color: white" class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
        <ion-label>{{"Blog" | translate}}</ion-label>
        </ion-item> -->
        <ion-item *ngIf="settings.languages?.length" detail="true" lines="inset" (click)="goTo('tabs/account/setting')"
            lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white"
                class="icon-start ion-margin-end" name="globe" slot="start"></ion-icon>
            <ion-label>{{ "Language" | translate }}</ion-label>
        </ion-item>

        <ion-item *ngIf="settings.currencies?.length" detail="true" lines="inset"
            (click)="goTo('tabs/account/currencies')" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #3dc2ff); color: white"
                class="icon-start ion-margin-end" name="logo-usd" slot="start"></ion-icon>
            <ion-label>{{ "Currency" | translate }}</ion-label>
        </ion-item>

        <ion-item *ngFor="let page of settings.pages" lines="inset" [hidden]="!page.url"
            (click)="goTo('/tabs/account/post/'+page.url)" detail="true" lines="inset" class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-secondary, #428xff); color: white"
                class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
            <ion-label>{{ page.title | translate }}</ion-label>
        </ion-item>

        <ion-item detail="true" lines="inset" class="ion-activatable" (click)="change_language()">
            <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white"
                class="icon-start ion-margin-end" name="language" mode="md" slot="start"></ion-icon>
            <ion-label>{{ "Language" | translate }}</ion-label>
        </ion-item>

        <ion-item detail="true" lines="inset" class="ion-activatable" (click)="log_out()" *ngIf="settings.customer?.id">
            <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white"
                class="icon-start ion-margin-end" name="log-out" mode="md" slot="start"></ion-icon>
            <ion-label>{{ "Logout" | translate }}</ion-label>
        </ion-item>

        <!-- <ion-item class="ion-activatable">
            <ion-icon style="background-color: var(--ion-color-primary, #428xff); color: white"
                class="icon-start ion-margin-end" slot="start" name="moon" mode="md" slot="start"></ion-icon>
            <ion-label>
                {{"Dark Theme" | translate}}
            </ion-label>
            <ion-toggle id="themeToggle" slot="end"></ion-toggle>
        </ion-item> -->

    </ion-list>
    <br />

    <!-- <ion-list-header *ngIf="settings.vendor">
        <ion-label>{{"Vendor" | translate}}</ion-label>
      </ion-list-header>
      <ion-list *ngIf="settings.vendor">
      <ion-item detail="true" lines="inset" (click)="goTo('tabs/account/vendor-orders')" class="ion-activatable">
        <ion-icon style="background-color: var(--ion-color-success, #2dd36f); color: white" class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
        <ion-label>{{"Orders" | translate}}</ion-label>
      </ion-item>
      <ion-item detail="true" lines="inset" (click)="goTo('tabs/account/vendor-products')" class="ion-activatable">
        <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white" class="icon-start ion-margin-end" name="document" slot="start"></ion-icon>
        <ion-label>{{"Products" | translate}}</ion-label>
      </ion-item>
      <ion-item detail="true" lines="inset" (click)="goTo('tabs/account/add-products')" class="ion-activatable">
        <ion-icon style="background-color: var(--ion-color-danger, #eb445a); color: white" class="icon-start ion-margin-end" name="add-circle" slot="start"></ion-icon>
        <ion-label>{{"Add Products" | translate}}</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>