.info-panel {
    padding-top: 0;
    padding-bottom: 0;
    max-height: 17vw;
    height: 17vw;
}

.info-prayer1 {
    margin: 2vw 0 0 0;
    font-size: 4vw;
}

.info-prayer2 {
    margin: 0;
    font-size: 6vw;
}

.info-prayer3 {
    margin: 0.8vw 0 0 0;
    font-size: 14.3vw;

    span {
        font-size: 6vw;
    }
}

.info-mosque-wrapper {
    text-align: right;
}

.info-mosque {
    width: 12vw;
    padding-top: 1.5vw;
}