<ion-grid class="info-panel" #solatBar id="solatBar">
  <ion-row>
    <ion-col size="6" class="ion-no-padding">
      <ion-row>
        <ion-col size="5" class="info-mosque-wrapper">
          <img class="info-mosque" src="/assets/icon/mosque.png">
        </ion-col>
        <ion-col size="7">
          <h5 class="info-prayer1 ion-text-capitalize">{{ "next prayer" | translate }} </h5>
          <h5 class="info-prayer2">{{ currentPrayerTime.text }}</h5>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="6" class="ion-no-padding info-time">
      <h5 class="info-prayer3">{{ prayetTime }}<span>{{ prayetAMPM }}</span></h5>
    </ion-col>
  </ion-row>
</ion-grid>