<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ "Prayer Time" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list mode="ios" *ngIf="prayerTimes">

    <ion-list-header>
      <ion-label class="ion-text-capitalize" *ngIf="this.settings.settings.selected_zone">
        {{ "zone" | translate }}: {{ this.settings.settings.selected_zone.display_name }}
      </ion-label>
    </ion-list-header>

    <ion-item-group *ngIf="prayerToday">

      <ion-item-divider>
        <ion-label>{{ "Today" | translate }}: {{ prayerToday.date | date:"d MMMM yyyy" }}</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label class="ion-text-capitalize">{{ "subuh" | translate }}</ion-label>
        <ion-note slot="end" color="primary">{{ prayerToday.fajr.toDate() | date:"hh:mm a" }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-capitalize">{{ "zohor" | translate }}</ion-label>
        <ion-note slot="end" color="primary">{{ prayerToday.dhuhr.toDate() | date:"hh:mm a" }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-capitalize">{{ "asar" | translate }}</ion-label>
        <ion-note slot="end" color="primary">{{ prayerToday.asr.toDate() | date:"hh:mm a" }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-capitalize">{{ "maghrib" | translate }}</ion-label>
        <ion-note slot="end" color="primary">{{ prayerToday.maghrib.toDate() | date:"hh:mm a" }}</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="ion-text-capitalize">{{ "isha" | translate }}</ion-label>
        <ion-note slot="end" color="primary">{{ prayerToday.isha.toDate() | date:"hh:mm a" }}</ion-note>
      </ion-item>

    </ion-item-group>

    <ion-list-header>
      <ion-label class="ion-text-capitalize">
        {{ "View by Month" | translate }}
      </ion-label>
    </ion-list-header>

    <ion-item-group *ngIf="prayerToday">

      <ion-item button (click)="viewPrayerByMonth(month)" detail *ngFor="let month of months">
        <ion-label>
          {{ month.name | translate }}
        </ion-label>
      </ion-item>

    </ion-item-group>

  </ion-list>

</ion-content>