<ion-header class="green-gradient" mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      {{ "Infaq" | translate }}
    </ion-title>
  </ion-toolbar>
  <!-- <app-menubar [activeMenu]="infaq.name"></app-menubar> -->
  <app-menubar [activeMenu]="infaq.id"></app-menubar>

</ion-header>
<ion-content class="overflow-content ion-padding">

  <ion-item class="choosen-country" lines="none">
    <ion-label *ngIf="country">
      <h2>{{ "Your Choosen Country" | translate }}</h2>
      <h3 class="ion-text-capitalize" *ngIf="!extraCountry">{{ country.name }}</h3>
      <h3 class="ion-text-capitalize" *ngIf="extraCountry">{{ extraCountry }}</h3>
    </ion-label>
    <ion-avatar slot="end" *ngIf="country && !extraCountry">
      <img [src]="country.image_path">
    </ion-avatar>
  </ion-item>

  <div class="spinner" *ngIf="!settings.settings.cash_infaq">
    <ion-spinner> </ion-spinner>
  </div>

  <ion-grid class="section-infaqType" *ngIf="this.settings.settings.cash_infaq">
    <ion-row>
      <ion-col *ngFor="let infaqType of infaqTypes" [size]="infaqType.col">
        <ion-card class="category-card ion-text-center ion-activatable ion-focusable hydrated" mode="ios"
          (click)="selectInfaqType(infaqType)" style="margin:5px;">

          <img [src]="infaqType.icon">

          <ion-card-title>{{ infaqType.name | translate }}</ion-card-title>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>