<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/account/orders"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Order" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="order">
  <ion-list *ngIf="order">

    <div *ngIf="orderPost">

      <ion-list-header>
        <ion-label style="font-weight: 900;">Infaq Received</ion-label>
      </ion-list-header>

      <ion-card class="ion-activatable ion-focusable hydrated" (click)="navigate(orderPost)" mode="ios">
        <div class="img-wrapper">
          <img [src]="orderPost.media" />
        </div>
        <ion-card-header>
          <ion-card-title class="wrap-text">{{ "View Details" | translate }}</ion-card-title>
        </ion-card-header>
      </ion-card>

    </div>

    <ion-list-header>
      <ion-label style="font-weight: 900;">{{order.id}} - <span
          style="text-transform: uppercase;">{{order.status}}</span>
      </ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label>{{"Date" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        <p>{{order.date_created | date:'MMM d, y hh:mm a'}}</p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>{{"Billing Address" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        <p>
          <span>{{order.billing.first_name}}</span>&nbsp;<span>{{order.billing.last_name}}</span>&nbsp;<span>{{order.billing.company}}</span>&nbsp;<span>{{order.billing.address_1}}</span>&nbsp;<span>{{order.billing.address_2}}</span>&nbsp;<span>{{order.billing.city}}</span>
          <span>{{order.billing.state}}</span>&nbsp;<span>{{order.billing.postcode}}</span>&nbsp;<span>{{order.billing.country}}</span>
          &nbsp;<span>{{order.billing.email}}</span>&nbsp;<span>{{order.billing.phone}}</span>
        </p>
      </ion-label>
    </ion-item>
    <!-- <ion-list-header>
      <ion-label>{{"Shipping Address" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        <p>
          <span>{{order.shipping.first_name}}</span>&nbsp;<span>{{order.shipping.last_name}}</span>&nbsp;<span>{{order.shipping.company}}</span>&nbsp;<span>{{order.shipping.address_1}}</span>&nbsp;<span>{{order.shipping.address_2}}</span>&nbsp;<span>{{order.shipping.city}}</span>&nbsp;
          <span>{{order.shipping.state}}</span>&nbsp;<span>{{order.shipping.postcode}}</span>&nbsp;<span>{{order.shipping.country}}</span>&nbsp;
          <span>{{order.shipping.email}}</span>&nbsp;<span>{{order.shipping.phone}}</span>
        </p>
      </ion-label>
    </ion-item> -->
    <!-- <ion-list-header>
      <ion-label>{{"Shipping Method" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap *ngFor="let item of order.shipping_lines | keys">
        <p>{{item.value.method_title}}</p>
      </ion-label>
    </ion-item> -->
    <ion-list-header>
      <ion-label>{{"Payment Method" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        <p [innerHTML]="order.payment_method_title"></p>
      </ion-label>
      <ion-button color="{{settings.theme.button}}" slot="end" fill="clear"
        *ngIf="(order.status != 'refunded' || order.status != 'cancelled' || order.status != 'failed') && settings.settings?.enable_refund"
        (click)="showField()" [disabled]="disableRefundButton">
        {{"Refund" | translate}}
      </ion-button>
      <ion-button color="{{settings.theme.button}}" slot="end" fill="clear"
        *ngIf="order.status == 'refunded' && settings.settings?.enable_refund" disabled>
        {{"Refunded" | translate}}
      </ion-button>
    </ion-item>
    <div *ngIf="showRefund">
      <ion-item lines="none">
        <ion-input required type="text" [(ngModel)]="refund.ywcars_form_reason" name="amount"
          placeholder="Reason for refund"></ion-input>
      </ion-item>

      <ion-button expand="block" color="{{settings.theme.button}}" (click)="requestRefund()">Request refund</ion-button>
    </div>

    <ion-list-header>
      <ion-label>{{"Items" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        <p *ngFor="let item of order.line_items">{{item.name}} <span *ngFor="let meta of item.meta_data">{{meta.value}}
          </span> x {{item.quantity}} <span
            style="float: right">{{item.total | currency:settings.currency:'symbol':'1.2-2'}}</span></p>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>{{"Totals" | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        <p>Transaction Fee<span
            style="float: right">{{order.shipping_total | currency:settings.currency:'symbol':'1.2-2'}}</span></p>
        <p>{{"Discount" | translate}}<span
            style="float: right">{{order.discount_total | currency:settings.currency:'symbol':'1.2-2'}}</span></p>
        <p>{{"Tax" | translate}}<span
            style="float: right">{{order.total_tax | currency:settings.currency:'symbol':'1.2-2'}}</span></p>
        <ion-label class="grand-total">Total<span
            style="float: right">{{order.total | currency:settings.currency:'symbol':'1.2-2'}}</span></ion-label>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>